// color

$primary: #0077aa;
$black: #171717;
$white: #ffffff;
$gray1: #333333;
$gray2: #797979;
$gray3: #aaaaaa;
$point1 : #f50;

$line1: 1px;
$border1: $line1 solid $gray1;
$border2: $line1 solid $gray2;
$border3: $line1 solid $gray3;




// font
$family : 'Noto sans KR',
dotum,
myriad,
arial,
sans-serif;

$weight1 : 200;
$weight2 : 400;
$weight3 : 600;
$weight4 : 900;